<div id="map"></div>
<div id="directions-panel"></div>

<% content_for :head do %>
  <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
<% end %>
