<h1>Winery Landing Page</h1>

<div class="info-panel">
  <table>
    <tr>
      <td>Winery: </td>
      <td><%= @winery.name %></td>
    </tr>
    <tr>
      <td>Address: </td>
      <td><%= @winery.address %></td>
    </tr>
    <tr>
      <td>City: </td>
      <td><%= @winery.city %></td>
    </tr>
  </table>
</div>
<div>
  <button name="button" type="submit" id="add-to-route">Button</button>
</div>

<!-- TODO: use js function to add location to list or json object when button is clicked -->
